{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% load two_factor_tags %}

{% block extra_media %}
  {{ form.media }}
{% endblock %}

{% block content %}
    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
                OKR SPACE    
            </div>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Sign Up your account
                    </h1>
                    <form id="sing-up-form" action="" class="space-y-4 md:space-y-6" method="post">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        <input type="hidden" name="login_view-current_step" value="auth" id="id_login_view-current_step">
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
                            <input type="text" name="auth-username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_auth-username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username">
                        </div>
                        <div>
                            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" name="auth-password" autocomplete="current-password" required="" id="id_auth-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Confirm 
                                <label>
                                Teste
                                </label>
                            </label>
                            <input type="password" autocomplete="current-password" required="" id="id_auth-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        </div>
                        <button type="submit" class="w-full bg-blue-600 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Sign Up
                        </button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Do you already have an account? <a href="{% url 'two_factor:login' %}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

<script>
    function validateForm(event) {
        event.preventDefault(); 

        var password = document.getElementById("id_auth-password");
        var confirmPassword = document.getElementById("id_confirm-password");
        
        if (password.value !== confirmPassword.value) {
            var errorNotification = document.createElement("div");
            errorNotification.className = "bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative";
            
            var strong = document.createElement("strong");
            strong.className = "font-bold";
            strong.innerText = "Holy smokes!";
            
            var message = document.createElement("span");
            message.className = "block sm:inline";
            message.innerText = "As senhas não correspondem.";
            
            var closeIcon = document.createElement("span");
            closeIcon.className = "absolute top-0 bottom-0 right-0 px-4 py-3";
            
            var svgIcon = document.createElementNS("http://www.w3.org/2000/svg", "svg");
            svgIcon.setAttribute("class", "fill-current h-6 w-6 text-red-500");
            svgIcon.setAttribute("role", "button");
            svgIcon.setAttribute("viewBox", "0 0 20 20");
            
            var svgTitle = document.createElementNS("http://www.w3.org/2000/svg", "title");
            svgTitle.innerText = "Close";
            
            var svgPath = document.createElementNS("http://www.w3.org/2000/svg", "path");
            svgPath.setAttribute("d", "M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z");
            
            svgIcon.appendChild(svgTitle);
            svgIcon.appendChild(svgPath);
            closeIcon.appendChild(svgIcon);
            
            errorNotification.appendChild(strong);
            errorNotification.appendChild(message);
            errorNotification.appendChild(closeIcon);
            
            document.body.appendChild(errorNotification);
            
            return false;
        }
        
        event.target.submit();
    }

    const form = document.getElementById("sign-up-form");

    form.addEventListener("submit", function(event) {
        validateForm(event);
    });
</script>
{% endblock %}