<div id="create-project" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full h-full flex items-center justify-center">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <!-- Modal content -->
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Criar Projeto
                </h1>
                <form action="" class="space-y-4 md:space-y-6" method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="SW2430vQRB34jxcIysDwLtpke0FKvNVyaJfTeRJsfFT3HZ0vzUtvkL1QomsyPsJ3">
                    <input type="hidden" name="login_view-current_step" value="auth" id="id_login_view-current_step">
                    <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">
                        
                    </div>
                    <input type="hidden" name="login_view-current_step" value="auth" id="id_login_view-current_step">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome</label>
                        <input type="text" name="auth-username" autofocus="" autocapitalize="none" autocomplete="Name" maxlength="150" required="" id="id_auth-username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nome">
                        <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Custo</label>
                        <input type="text" name="auth-username" autofocus="" autocapitalize="none" autocomplete="Cost" maxlength="150" required="" id="id_auth-username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Custo">
                        <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gerente</label>
                        <input type="text" name="auth-username" autofocus="" autocapitalize="none" autocomplete="Manager" maxlength="150" required="" id="id_auth-username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Gerente">
                        <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de Início</label>
                         <input datepicker="" datepicker-autohide="" datepicker-buttons="" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select date">
                        <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">  
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Data de Entrega</label>
                         <input datepicker="" datepicker-autohide="" datepicker-buttons="" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input" placeholder="Select date">
                        <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Documentação</label>
                        <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
                        <div class="block mb-2 text-sm font-small text-gray-900 dark:text-white">
                        </div>
                    </div>
                    <button type="submit" class="w-full bg-blue-600 text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Criar</button>
                </form>
            </div>
        </div>
    </div>
</div>
